<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mitarbeiter_Ausgaben.Properties.Settings.mittagessen_ausgabenConnectionString"
            connectionString="server=192.168.0.118;user id=remoteUser;password=usbw;persistsecurityinfo=True;database=mittagessen_ausgaben"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>